@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@100&display=swap');

section.Me .container {
  text-align: center;
}
body {
  background-color: #465a70;
  color: #ffffff;
  line-height: 1.2;
  font-size: 100%;
  font-family: 'Roboto Slab', serif;
}

section.me {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.me img.profilePicture {
  max-height: 700px;
  max-width: 700px;
  border-radius: 8px;
}
.spc-2 {
  margin-right: 5px;
}
.spc-1 {
  margin-right: 30px;
}
.button {
  padding: 20px 20px;
  border-radius: 30px;
  background-color: #2a2e3a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.button-color {
  background-color: #2a2e3a;
  color: #ffffff;
}
.hover:hover{
  background-color: #374758;
  color: #00adb5;
}
a {
  text-decoration: none;
}

/* Contact Me */
.contact-form {
  margin-bottom: 10px;
}
.contact-form label {
  display: block;
  width: 100%;
  color: #858b95;
  margin-bottom: 0.8px;
  font-size: 0.12px;
}

.question-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.question-group label {
  font-size: 14px;
}
.question-group > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-group> div label {
  padding-left: 8px;
  margin: 0;
  color: #efecff;
}

.contact-control {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 14px;
  background-color: #24222a;
}

.alternate-bg .contact-control {
  background-color: #BDBDBD;
}
section.contact form {
  margin: auto;
  max-width: 724px;
  text-align: left;
}

.text-center {
  text-align: center;
}

/*about me */ 
#info{
  display:inline-flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding: 100px;
  background-color: #374758;
  overflow: hidden;
}
#about{
    width: 60%;
    padding-right: 30px;
}

p{
  margin-left: auto;
    margin-right: auto;
    width: 60%;
  text-align: left;
}
h2{
  color:#00adb5;
  text-align: center;
}

/* Education */
#education{
  background-color: #2b3846;
  padding: 30px;
 
}
.education-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.education-container {
  width: 600px;
  margin: 8px 16px;
  border-radius: 4px;
}

.education-details {
 background-color:#455d7a;
 color: white;
 padding: 15px;
 text-align: center;
 align-items: center;
 font-size: 20px;
}

.education-desc {
 background-color: #2a2e3a;
 padding: 20px;
 text-align: center;
 font-size: 15px;
}

